{% extends "fantasycalendar/base.html" %}

{% block title %}
Calendar Detail
{% endblock %}

{% block content %}
<h2><a href="{% url 'fantasycalendar:world-detail' calendar.world_id %}">{{ calendar.world.world_name }}</a> - {{ calendar.calendar_name }}</h2>
{% if calendar.timeunit_set %}
    <ul>
    {% for time_unit in calendar.timeunit_set.all %}
        {% if time_unit.is_bottom_level %}
        <li>{{ time_unit.time_unit_name }} - base calendar unit <a
                href="{% url 'fantasycalendar:time-unit-update' calendar.world_id calendar.id time_unit.id %}">(edit)</a></li>
        {% else %}
        <li>{{ time_unit.time_unit_name }} - {{ time_unit.get_length_cycle_display  }} {{ time_unit.base_unit.time_unit_name }}s long <a
                href="{% url 'fantasycalendar:time-unit-update' calendar.world_id calendar.id time_unit.id %}">(edit)</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No time units have been created for this calendar.</p>
{% endif %}
    <p><a href="{% url 'fantasycalendar:time-unit-create' calendar.world_id calendar.id %}">Create a new time unit for this calendar!</a></p>
    <p><a href="{% url 'fantasycalendar:event-create' calendar.world_id calendar.id %}">Create a new event for this calendar!</a></p>
    <p><a href="{% url 'fantasycalendar:calendar-update' calendar.world_id calendar.id %}">Change the name of this calendar!</a></p>
{% endblock %}

{% block graphic %}
{% if calendar.timeunit_set %}
<h3>{{ display_unit.time_unit_name }} {{ iteration }} View</h3>
<form action="{% url 'fantasycalendar:calendar-detail' calendar.world_id calendar.id %}" method="get">
    <label for="display_unit_type">Change display level: </label>
    <select name="display_unit_type" id="display_unit_type">
    {% for time_unit in calendar.timeunit_set.all %}
        <option value="{{ time_unit.id }}" {% if time_unit.id == display_unit.id %}selected{% endif %}>{{ time_unit.time_unit_name }}</option>
    {% endfor %}
    </select>
    <br>
    <label for="nest_checkbox">Show base time unit detail?</label>
    <input type="checkbox" id="nest_checkbox" name="nest_checkbox" value="1" {% if nest_level == 1 %}checked{% endif %}>
    <br>
    <label for="iteration">Display specific time unit instance:</label>
    <input type="text" id="iteration" name="iteration" value="{{ iteration }}">
    <br>
    <input type="submit" value="Submit">
</form>
{% if display_nested %}
{% for display_base_name, iteration, nested_display_base_names in display_base_names %}
    <h4><a href="{% url 'fantasycalendar:time-unit-instance-detail' calendar.world_id calendar.id display_unit.base_unit.id iteration %}">{{ display_base_name }}</a></h4>
    <div class="grid-container">
    {% for nested_display_base_name, iteration, events in nested_display_base_names %}
        <div class="grid-item"><a href="{% url 'fantasycalendar:time-unit-instance-detail' calendar.world_id calendar.id smallest_display_unit.id iteration %}">{{ nested_display_base_name }}</a>
        {% for event in events %}
            <br><a href="{% url 'fantasycalendar:event-detail' calendar.world_id calendar.id event.id %}">{{ event.event_name }}</a>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% else %}
<div class="grid-container">
{% for display_base_name, iteration, events in display_base_names %}
    <div class="grid-item"><a href="{% url 'fantasycalendar:time-unit-instance-detail' calendar.world_id calendar.id smallest_display_unit.id iteration %}">{{ display_base_name }}</a>
    {% for event in events %}
        <br><a href="{% url 'fantasycalendar:event-detail' calendar.world_id calendar.id event.id %}">{{ event.event_name }}</a>
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endif %}
{% endif %}
{% endblock %}