{% extends "fantasycalendar/base.html" %}

{% block title %}
Calendar Detail
{% endblock %}

{% block content %}
<h2><a href="{% url 'fantasycalendar:world-detail' calendar.world_id %}">{{ calendar.world.world_name }}</a> - {{ calendar.calendar_name }}
    <a href="{% url 'fantasycalendar:calendar-update' calendar.world_id calendar.id %}">(edit)</a></h2>
<h3>Time Units <a href="{% url 'fantasycalendar:time-unit-create' calendar.world_id calendar.id %}">(+new)</a></h3>
{% if calendar.timeunit_set %}
    <ul>
    {% for time_unit in calendar.timeunit_set.all %}
        {% if time_unit.is_bottom_level %}
        <li><a href="{% url 'fantasycalendar:time-unit-detail' calendar.world_id calendar.id time_unit.id %}">{{ time_unit.time_unit_name }}</a> - base calendar unit <a
                href="{% url 'fantasycalendar:time-unit-update' calendar.world_id calendar.id time_unit.id %}">(edit)</a></li>
        {% else %}
        <li><a href="{% url 'fantasycalendar:time-unit-detail' calendar.world_id calendar.id time_unit.id %}">{{ time_unit.time_unit_name }}</a> - {{ time_unit.get_length_cycle_display  }} {{ time_unit.base_unit.time_unit_name }}s long <a
                href="{% url 'fantasycalendar:time-unit-update' calendar.world_id calendar.id time_unit.id %}">(edit)</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No time units have been created for this calendar.</p>
{% endif %}
<h3>Display Configurations <a
        href="{% url 'fantasycalendar:display-config-create' calendar.world_id calendar.id %}">(+new)</a></h3>
{% if calendar.displayconfig_set %}
    <ul>
    {% for display_config in calendar.displayconfig_set.all %}
        <li>{{ display_config.display_config_name  }} <a
                href="{% url 'fantasycalendar:display-config-update' calendar.world_id calendar.id display_config.id %}">(edit)</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No display configurations have been created for this calendar.</p>
{% endif %}
<h3>Date Bookmarks <a
        href="{% url 'fantasycalendar:date-bookmark-create' calendar.world_id calendar.id %}">(+new)</a></h3>
{% if calendar.datebookmark_set %}
    <ul>
    {% for date_bookmark in calendar.datebookmark_set.all %}
        <li>{{ date_bookmark.get_display_name  }} <a
                href="{% url 'fantasycalendar:date-bookmark-update' calendar.world_id calendar.id date_bookmark.id %}">(edit)</a> <a
                href="{% url 'fantasycalendar:calendar-detail' calendar.world_id calendar.id %}?display_unit_type={{ date_bookmark.bookmark_unit.id }}&nest_checkbox={{ nest_level }}&iteration={{ date_bookmark.bookmark_iteration }}">(go to bookmark)</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No date bookmarks have been created for this calendar.</p>
{% endif %}
{% endblock %}

{% block graphic %}
{% if calendar.timeunit_set %}
<h3><a href="{% url 'fantasycalendar:time-unit-instance-detail' calendar.world_id calendar.id display_unit.id iteration %}">{{ instance_display_name }}</a></h3>
<form action="{% url 'fantasycalendar:calendar-detail' calendar.world_id calendar.id %}" method="get">
    <label for="display_unit_type">Change display level: </label>
    <select name="display_unit_type" id="display_unit_type">
    {% for time_unit in calendar.timeunit_set.all %}
        <option value="{{ time_unit.id }}" {% if time_unit.id == display_unit.id %}selected{% endif %}>{{ time_unit.time_unit_name }}</option>
    {% endfor %}
    </select>
    <br>
    <label for="nest_checkbox">Show base time unit detail?</label>
    <input type="hidden" id="nest_checkbox_hidden" name="nest_checkbox" value="{% if nest_level == 1 %}1{% else %}0{% endif %}"><input type="checkbox" id="nest_checkbox" value="1" {% if nest_level == 1 %}checked{% endif %} onclick="this.previousSibling.value=1-this.previousSibling.value">
    <br>
    <label for="iteration">Display specific time unit instance:</label>
    <input type="text" id="iteration" name="iteration" value="{{ iteration }}">
    <br>
    <input type="submit" value="Submit">
</form>
{% if display_nested %}
{% for display_base_name, iteration, nested_display_base_names in display_base_names %}
    <h4><a href="{% url 'fantasycalendar:time-unit-instance-detail' calendar.world_id calendar.id display_unit.base_unit.id iteration %}">{{ display_base_name }}</a></h4>
    <div class="grid-container">
    {% for nested_display_base_name, iteration, events in nested_display_base_names %}
        <div class="grid-item"><a href="{% url 'fantasycalendar:time-unit-instance-detail' calendar.world_id calendar.id smallest_display_unit.id iteration %}">{{ nested_display_base_name }}</a>
        {% for event in events %}
            <br><a href="{% url 'fantasycalendar:event-detail' calendar.world_id calendar.id event.id %}">{{ event.event_name }}</a>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endfor %}
{% else %}
<div class="grid-container">
{% for display_base_name, iteration, events in display_base_names %}
    <div class="grid-item"><a href="{% url 'fantasycalendar:time-unit-instance-detail' calendar.world_id calendar.id smallest_display_unit.id iteration %}">{{ display_base_name }}</a>
    {% for event in events %}
        <br><a href="{% url 'fantasycalendar:event-detail' calendar.world_id calendar.id event.id %}">{{ event.event_name }}</a>
    {% endfor %}
    </div>
{% endfor %}
</div>
{% endif %}
{% endif %}
{% endblock %}