{% extends "fantasycalendar/base.html" %}

{% block title %}
Date Format Detail
{% endblock %}

{% block content %}
<h2><a href="{% url 'fantasycalendar:world-detail' dateformat.calendar.world_id %}">{{ dateformat.calendar.world.world_name }}</a> - <a
        href="{% url 'fantasycalendar:calendar-detail' dateformat.calendar.world_id dateformat.calendar_id %}">{{ dateformat.calendar.calendar_name }}</a> - <a
        href="{% url 'fantasycalendar:time-unit-detail' dateformat.calendar.world_id dateformat.calendar_id dateformat.time_unit_id %}">{{ dateformat.time_unit.time_unit_name }}</a> - {{ dateformat.date_format_name }}{% if user.pk == dateformat.calendar.world.creator.pk %}
    <a href="{% url 'fantasycalendar:date-format-update' dateformat.calendar.world_id dateformat.calendar_id dateformat.time_unit_id dateformat.id %}">(edit)</a>{% endif %}</h2>
<h3>Format String:</h3>
<p>{{ dateformat.format_string }}</p>
{% endblock %}