{% extends "fantasycalendar/base.html" %}

{% block title %}
Time Unit Instance
{% endblock %}

{% block content %}
<h2><a href="{% url 'fantasycalendar:world-detail' timeunit.calendar.world_id %}">{{ timeunit.calendar.world.world_name }}</a> - <a
        href="{% url 'fantasycalendar:calendar-detail' timeunit.calendar.world_id timeunit.calendar_id %}">{{ timeunit.calendar.calendar_name }}</a> - {{ display_name }}</h2>
<h3>Date Representations{% if user.pk == timeunit.calendar.world.creator.pk %} <a href="{% url 'fantasycalendar:date-format-create' timeunit.calendar.world_id timeunit.calendar.id timeunit.id %}">(+new)</a>{% endif %}</h3>
{% if date_representations %}
    <ul>
    {% for date_format, formatted_date in date_representations %}
        <li>{{ formatted_date }} - <a href="{% url 'fantasycalendar:date-format-detail' timeunit.calendar.world_id timeunit.calendar.id timeunit.id date_format.id %}">{{ date_format.date_format_name }}</a>{% if user.pk == timeunit.calendar.world.creator.pk %} <a
                    href="{% url 'fantasycalendar:date-format-update' timeunit.calendar.world_id timeunit.calendar.id timeunit.id date_format.id %}">(edit)</a>{% endif %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No date formats exist for dates of type {{ timeunit.time_unit_name }}.</p>
{% endif %}
<h3>Events{% if user.pk == timeunit.calendar.world.creator.pk %} <a
        href="{% url 'fantasycalendar:event-create' timeunit.calendar.world.id timeunit.calendar_id %}?bottom_level_iteration={{ first_bottom_level_iteration }}">(+new)</a>{% endif %}</h3>
{% if events %}
    <ul>
    {% for event in events %}
        <li><a href="{% url 'fantasycalendar:event-detail' timeunit.calendar.world_id timeunit.calendar_id event.id %}">{{ event.event_name }}</a>{% if user.pk == event.calendar.world.creator.pk %} <a
                href="{% url 'fantasycalendar:event-update' timeunit.calendar.world_id timeunit.calendar_id event.id %}">(edit)</a>{% endif %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events take place during this {{ timeunit.time_unit_name }}.</p>
{% endif %}
<h3>Date Bookmarks{% if user.pk == timeunit.calendar.world.creator.pk %} <a
        href="{% url 'fantasycalendar:date-bookmark-create' timeunit.calendar.world_id timeunit.calendar_id  %}?bookmark_unit={{ timeunit.id }}&bookmark_iteration={{ iteration }}">(+new)</a>{% endif %}</h3>
{% if date_bookmarks %}
    <ul>
    {% for date_bookmark in date_bookmarks %}
        <li>{{ date_bookmark.get_display_name }}{% if user.pk == timeunit.calendar.world.creator.pk %} <a
                href="{% url 'fantasycalendar:date-bookmark-update' timeunit.calendar.world_id timeunit.calendar.id date_bookmark.id %}">(edit)</a>{% endif %}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bookmarks are present for this {{ timeunit.time_unit_name }}.</p>
{% endif %}
{% if is_linked %}
    <h3>Linked Dates from Other Calendars</h3>
    {% if linked_instances %}
        <ul>
        {% for calendar_id, calendar_name, linked_unit_id, linked_iteration, linked_display_date in linked_instances %}
            <li><a href="{% url 'fantasycalendar:time-unit-instance-detail' timeunit.calendar.world_id calendar_id linked_unit_id linked_iteration %}">
                {{ calendar_name }} - {{ linked_display_date }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No linked dates found. Either no other calendars in this world are set up to be linked or none of them existed at this date.</p>
    {% endif %}
{% endif %}
{% endblock %}