{% extends "fantasycalendar/base.html" %}

{% block title %}
Time Unit Instance
{% endblock %}

{% block content %}
<h2><a href="{% url 'fantasycalendar:world-detail' timeunit.calendar.world_id %}">{{ timeunit.calendar.world.world_name }}</a> - <a
        href="{% url 'fantasycalendar:calendar-detail' timeunit.calendar.world_id timeunit.calendar_id %}">{{ timeunit.calendar.calendar_name }}</a> - {{ display_name }}</h2>
<h3>Events <a
        href="{% url 'fantasycalendar:event-create' timeunit.calendar.world.id timeunit.calendar_id %}?bottom_level_iteration={{ first_bottom_level_iteration }}">(+new)</a></h3>
{% if events %}
    <ul>
    {% for event in events %}
        <li><a href="{% url 'fantasycalendar:event-detail' timeunit.calendar.world_id timeunit.calendar_id event.id %}">{{ event.event_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events take place during this {{ timeunit.time_unit_name }}.</p>
{% endif %}
<h3>Date Bookmarks <a
        href="{% url 'fantasycalendar:date-bookmark-create' timeunit.calendar.world_id timeunit.calendar_id  %}?bookmark_unit={{ timeunit.id }}&bookmark_iteration={{ iteration }}">(+new)</a></h3>
{% if date_bookmarks %}
    <ul>
    {% for date_bookmark in date_bookmarks %}
        <li>{{ date_bookmark.get_display_name }} <a
                href="{% url 'fantasycalendar:date-bookmark-update' timeunit.calendar.world_id timeunit.calendar.id date_bookmark.id %}">(edit)</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bookmarks are present for this {{ timeunit.time_unit_name }}.</p>
{% endif %}
{% endblock %}