{% extends "fantasycalendar/base.html" %}

{% block title %}
World Detail
{% endblock %}

{% block content %}
<h2>{{ world.world_name }}{% if user.pk == world.creator.pk %} <a href="{% url 'fantasycalendar:world-update' world.id %}">(edit)</a>{% endif %}</h2>
<h3>Calendars{% if user.pk == world.creator.pk %}  <a href="{% url 'fantasycalendar:calendar-create' world.id %}">(+new)</a>{% endif %}</h3>
{% if world.calendar_set %}
    <ul>
    {% for calendar in world.calendar_set.all %}
        {% if user == world.creator %}
        <li><a href="{% url 'fantasycalendar:calendar-detail' world.id calendar.id %}">{{ calendar.calendar_name }}</a></li>
        {% else %}
        <li><a href="{% url 'fantasycalendar:calendar-calendar' world.id calendar.id %}">{{ calendar.calendar_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No calendars have been created for this world.</p>
{% endif %}
{% endblock %}