{% extends "fantasycalendar/base.html" %}

{% block title %}
Delete a World
{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ world }}"? {% if world.calendar_set and world.calendar_set.count > 0 %}All calendars in this world will be gone forever!{% else %}No calendars belong to this world.{% endif %}</p>
    <ul>
    {% for calendar in world.calendar_set.all %}
        <li>Calendar "{{ calendar }}" will be deleted!</li>
    {% endfor %}
    </ul>
    {% if warnings %}
        <p><b>Warning!</b></p>
        <ul>
        {% for warning in warnings %}
            <li>{{ warning }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {{ form.as_p }}
    <input type="submit" value="Confirm">
</form>
{% endblock %}