{% extends "fantasycalendar/base.html" %}

{% block title %}
World Index
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h3>My Worlds <a href="{% url 'fantasycalendar:world-create' %}">(+new)</a></h3>
{% if user_world_list %}
    <ul>
    {% for world in user_world_list %}
        <li><a href="{% url 'fantasycalendar:world-detail' world.id %}">{{ world.world_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have not created any worlds.</p>
{% endif %}
{% endif %}
<h3>{% if user.is_authenticated %}Public {% endif %}Worlds</h3>
{% if world_list %}
    <ul>
    {% for world in world_list %}
        <li><a href="{% url 'fantasycalendar:world-detail' world.id %}">{{ world.world_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No public worlds {% if user.is_authenticated %}from other creators {% endif %}are available.</p>
{% endif %}
{% endblock %}