{% extends "fantasycalendar/base.html" %}

{% block title %}
World Detail
{% endblock %}

{% block content %}
<h2>{{ world.world_name }}</h2>
{% if world.calendar_set %}
    <ul>
    {% for calendar in world.calendar_set.all %}
        <li><a href="{% url 'fantasycalendar:calendar-detail' world.id calendar.id %}">{{ calendar.calendar_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No calendars have been created for this world.</p>
{% endif %}
    <p><a href="{% url 'fantasycalendar:calendar-create' world.id %}">Create a new calendar in this world!</a></p>
    <p><a href="{% url 'fantasycalendar:world-update' world.id %}">Change the name of this world!</a></p>
{% endblock %}