{% extends "fantasycalendar/base.html" %}

{% block title %}
World Index
{% endblock %}

{% block content %}
<h3>Worlds{% if user.is_authenticated %} <a href="{% url 'fantasycalendar:world-create' %}">(+new)</a>{% endif %}</h3>
{% if world_list %}
    <ul>
    {% for world in world_list %}
        <li><a href="{% url 'fantasycalendar:world-detail' world.id %}">{{ world.world_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No worlds have been created.</p>
{% endif %}
{% endblock %}