[x-cloak] { display: none !important; }

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    /*font-family: Tahoma, Verdana, sans-serif;*/
    font-family: Garamond, "Times New Roman", Times, serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    width: 100%;
    background-color: midnightblue;
    color: lightgray;
    display: flex;
    justify-content: space-between;
}

#header * a {
    color: lightgray;
    text-decoration: none;
}

#header-buttons {
    float: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

#header-buttons span {
    padding-right: 20px;
}

h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: lightgray;
}

h1, h2, h3, h4 {
    font-family: Garamond, "Times New Roman", Times, serif;
    font-variant: small-caps;
}

li a {
    color: darkcyan;
    text-decoration: none;
}

h2 a, h3 a, h4 a {
    color: midnightblue;
    text-decoration: none;
}

#content {
    float: left;
    padding: 10px;
}

#graphic {
    float: right;
    width: 40%;
    padding: 30px;
}

.calendar {
    padding-left: 10px;
    padding-right: 10px;
}

.calendar-top-controls {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
}

.grid-container {
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(auto-fill, 60px);
    grid-auto-rows: 50px;
    padding: 3px;
    grid-auto-flow: row;
}

.grid-container-large {
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-auto-rows: minmax(150px, auto);
    padding: 6px;
    grid-auto-flow: row;
}

.grid-item {
    background-color: lightblue;
    text-align: center;
    border: 1px solid black;
}

.grid-item-row {
    padding: 2px;
}

.grid-item-row-long {
    padding: 8px;
}

.clickable-text {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: midnightblue;
    color: lightgray;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}