[x-cloak] { display: none !important; }

* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    /*font-family: Tahoma, Verdana, sans-serif;*/
    font-family: Garamond, "Times New Roman", Times, serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: midnightblue;
    color: lightgray;
}

h1 a {
    color: lightgray;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: Garamond, "Times New Roman", Times, serif;
    font-variant: small-caps;
}

li a {
    color: darkcyan;
    text-decoration: none;
}

h2 a, h3 a, h4 a {
    color: midnightblue;
    text-decoration: none;
}

#content {
    float: left;
    padding: 10px;
}

#graphic {
    float: right;
    width: 40%;
    padding: 30px;
}

.grid-container {
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(auto-fill, 60px);
    grid-auto-rows: 50px;
    padding: 3px;
    grid-auto-flow: row;
}

.grid-item {
    background-color: lightblue;
    text-align: center;
    border: 1px solid black;
}